[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bcrypt = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
django-cors-headers = "*"
django-timezone-field = "*"
djangorestframework = "*"
drf-yasg = {extras = ["validation"],version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
pytz = "*"
requests = "*"
swagger-spec-validator = "*"
urllib3 = "*"
whitenoise = ">=4.1.4"
Django = ">=2.2.10"
packaging = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
autopep8 = "*"
