amqp==2.3.2
anyjson==0.3.3
appdirs==1.4.3
astroid==1.5.3
attrs==18.1.0
autopep8==1.3.2
backports.functools-lru-cache==1.4
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.5.0.4
bs4==0.0.1
celery==4.2.1
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.7
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-cors-headers==2.1.0
django-filter==1.1.0
django-heroku==0.3.1
django-rest-swagger==2.1.2
django-tools==0.36.0
djangorestframework==3.8.2
djangorestframework-recursive==0.1.2
drf-openapi==1.3.0
drf-yasg==1.9.1
enum34==1.1.6
flex==6.13.2
future==0.16.0
googlemaps==3.0.2
gunicorn==19.7.1
html-codec==1.0.0
html-json-forms==1.0.0
idna==2.6
inflection==0.3.1
isort==4.2.15
itypes==1.1.0
Jinja2==2.10
jsonpointer==1.14
jsonschema==2.6.0
kombu==4.2.1
lazy-object-proxy==1.3.1
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
oauthlib==2.0.6
openapi-codec==1.3.2
Pillow==5.2.0
psycopg2==2.7.3.1
pycodestyle==2.3.1
pycparser==2.18
PyJWT==1.5.3
pylint==1.7.2
PyMySQL==0.7.11
PyPDF2==1.26.0
python-http-client==3.0.0
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.13
redis==2.10.6
reportlab==3.4.0
requests==2.12.1
requests-oauthlib==0.8.0
rfc3987==1.3.7
ruamel.yaml==0.15.42
sendgrid==5.3.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.10.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
sodapy==1.4.3
static3==0.7.0
strict-rfc3339==0.7
swagger-spec-validator==2.3.1
toml==0.9.4
uritemplate==3.0.0
urllib3==1.22
validate-email==1.3
vine==1.1.4
whitenoise==3.3.1
wrapt==1.10.11
