astroid==1.5.3
autopep8==1.3.2
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chainer==2.1.0
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
coreapi==2.3.3
coreschema==0.0.4
cymem==1.31.2
cytoolz==0.8.2
defusedxml==0.5.0
dill==0.2.7.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.5
django-cors-headers==2.1.0
django-heroku==0.3.1
django-tools==0.36.0
djangorestframework==3.6.4
enum34==1.1.6
filelock==2.0.12
ftfy==4.4.3
future==0.16.0
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
isort==4.2.15
itypes==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
lxml==4.1.1
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
murmurhash==0.26.4
nose==1.3.7
numpy==1.14.2
oauthlib==2.0.6
pathlib==1.0.1
pbr==3.1.1
plac==0.9.6
preshed==1.0.0
protobuf==3.4.0
psycopg2==2.7.3.1
pycairo==1.16.3
pycodestyle==2.3.1
pygobject==3.28.2
PyJWT==1.5.3
pylint==1.7.2
PyMySQL==0.7.11
python-http-client==3.0.0
python3-openid==3.1.0
pytz==2017.2
regex==2017.9.23
requests==2.12.1
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
scikit-learn==0.19.0
scipy==0.19.1
sendgrid==5.3.0
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
sodapy==1.4.3
spacy==1.9.0
static3==0.7.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.17.1
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.1
wrapt==1.10.11
