asgiref==3.2.3
attrs==19.3.0
bcrypt==3.1.7
boto3==1.12.12
botocore==1.15.12
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.0.3
django-cors-headers==3.2.1
django-timezone-field==4.0
djangorestframework==3.11.0
docutils==0.15.2
drf-yasg==1.17.1
gunicorn==20.0.4
idna==2.9
inflection==0.3.1
itypes==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsonschema==3.2.0
MarkupSafe==1.1.1
packaging==20.1
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
swagger-spec-validator==2.5.0
uritemplate==3.0.1
urllib3==1.25.8
whitenoise==5.0.1
